*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
}

.ads{
    height: 700px;
    width: 200px;
    background-color: lightblue;
}

.menu{
    height: 800px;
    width: 200px;
    background-color: lightblue;

}

.content{
    flex: 1;
}

.ads > p {
    padding-left: 20px;
}

.menu > p {
    padding-left: 20px;
}

.content > p {
    padding: 20px 20px 20px 20px;
}