.chat-container {
    font-family: sans-serif;
    height: 100vh;
}

.chat-container .chat-header {
    background: #037bfe;
    color: #ffffff;
    height: 64px;
    font-size: 24px;
    line-height: 64px;
    text-align: center;
}

.chat-container .main{
    height: calc(100% - 64px);
}

.chat-container .main .conversation-title {
    height: 64px;
    font-size: 24px;
    line-height: 64px;
    text-align: center;
    border: solid #dbdbdb 1px;
    color: #333;
}

.chat-container .conversation-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-container .conversation-detail .list-message {
    flex-grow: 1;
}

#sendMessageForm{
    height: 64px;
    line-height: 64px;
    border-top: solid #dbdbdb 1px;
    display: flex;   
}

#sendMessageForm input {
    border: none;
    flex-grow: 1;
    padding-left: 20px;
    outline: 0;
}

#sendMessageForm button {
    background: none;
    border: none;
    font-size: 24px;
    color: #027bfd;
}

.chat-container .list-message {
    padding: 10px;
    overflow-y: auto;
}

.chat-container .list-message .content {
    border-radius: 10px;
    max-width: 40%;
    background: #dbdbdb;
    padding: 10px;
    word-break: break-word;
    width: max-content;
}

.chat-container .message.their .content {
    background: #dbdbdb;
}

.chat-container .message.mine .content {
    background: #027bfd;
    color: #fff;
}

.chat-container .message.mine {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px
}